In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [4]:
spark

In [7]:
data = spark.read.json('people.json')

In [8]:
data.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
data.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
data.columns

['age', 'name']

In [12]:
data.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [13]:
from pyspark.sql.types import StructType, StructField,IntegerType, StringType

In [15]:
data_schema = [StructField('age',IntegerType(), True),
                StructField('name',StringType(),True)]

In [16]:
final_schema = StructType(fields=data_schema)

In [17]:
data = spark.read.json('people.json',schema=final_schema)

In [18]:
data.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
#This returns the type of Column
type(data['age'])

pyspark.sql.column.Column

In [24]:
#This is of type dataFrame
# type(data.select('age'))
data.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [25]:
data.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
data.withColumn('double_age',data['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [28]:
data.createOrReplaceTempView('people')

In [29]:
results = spark.sql("SELECT * FROM PEOPLE WHERE AGE = 30")

In [30]:
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+