In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('missingData').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv('ContainsNull.csv', header = True, inferSchema = True)

In [9]:
df.select('*').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [20]:
# df.na.drop().show()
# df.na.drop(thresh=2).show()
df.na.drop(how='all',subset='Name').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp4|Cindy|456.0|
+----+-----+-----+

In [25]:
df.na.fill(value=0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [26]:
from pyspark.sql.functions import mean

In [31]:
mean_value = df.select(mean('Sales')).collect()

In [34]:
mean_val = mean_value[0][0]

In [36]:
df.na.fill(mean_val,subset="Sales").show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+